

:root {
    --width: 100px;
    --height: 100px;
    --speed: 1;
    --baseColor: #4B0082;
    --fontColor: #fff;
}
body{
    background-color: #4B0082;
    color: #fff;
    font-family: 'helvetica neue', sans-serif;
    overflow: hidden;
}

.main-head{
    width: 100%;
    height: 20vh;
    display: block;
}

.main-head__header{
    display: block;
    max-width: 768px;
    margin: 50px auto;
}

.app{
    max-width: 1280px;
    max-height: 80vh;
    height: 100%;
    padding: 2% 5%;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.controls{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    border: 2px solid gray;
    padding: 20px;
    margin-bottom: 20px;
}
.controls fieldset{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 10px;
}

.control__text{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.control__input{
    margin: 0 5px;
}

.action__wrapper{
    width: 100%;
    height: 200px;
    position: relative;
}
.action{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px dashed gray;
    padding: 5px;
    width: var(--width);
    height: var(--height);
    background-color: var(--baseColor);
    transition: width ease 0.2s, 
                height ease 0.2s, 
                background ease 0.5s;
}

.action__text{
    text-align: center;
    color: var(--fontColor);
}